{% extends "cake/base.html" %}
{% load staticfiles %}


{% block content %}

<style>
    body{
        font-family:""
    }
</style>


<div class="am-g am-imglist">
    <ul id="cake_content" data-am-widget="gallery" class="am-gallery am-avg-sm-2
  am-avg-md-3 am-avg-lg-6 am-gallery-default">

        {% for cake in allcake %}
        <li>
            <div class="am-gallery-item am_list_block">

                <a href="{% url 'cake:detail' cake.id %}">

                    <div>
                        <span class="am_imglist_user_font" style="color:#333">编号：{{cake.code}}</span>
                    </div>

                    <div class="am_img_bg">
                        <img class="am_img animated" src="{% static 'img/loading.gif' %}"
                             data-original="/static/img/{{cake.img1}}"
                             alt="满街香蛋糕欢迎您"/>
                    </div>

                    <div class="am_listimg_info">
                    <span
                            style="margin-right:0px;color:#ff0000;font-size:15px">￥{{cake.price}}</span>
                    </div>
                    <div>
                        <span class="am_imglist_user_font" style="color:#333">尺寸：{{cake.size}}寸</span>
                    </div>
                    <span class="am_imglist_user_font" style="color:#333">{{cake.name}}</span>
                </a>
            </div>
        </li>

        {% endfor %}

    </ul>
</div>

{% if has_next %}
<div id="moreCake" class="am_news_load">
      <span style="color:#333">
          <i class="am-icon-spinner am-icon-spin"></i> 查看更多</span>
</div>
{% endif %}

<div style="height:50px"></div>


<script>
    var page = 2
    $("#moreCake").click(function(){
        console.log("========")

        $.ajax({
        type:'GET',
        url:'{% url 'cake:moreCake' %}?page='+page,
        dataType:'json',
        success:function(response, status){
            console.log(response);
            console.log(status);
            var data = JSON.parse(response)
            console.log(data);
            if(!data.next){
                $("#moreCake").css("display","none");
            }

            page = data.page+1;
            $.each(data.data,function(i,item){
                console.log(i)
                console.log(item.fields.img1)

                var imgUrl = "/static/img/" + item.fields.img1

                var baseurl = "{% url 'cake:detail' 0 %}".replace('0', item.pk)

                $("#cake_content").append("<li>"
                    + "<div class='am-gallery-item am_list_block'> "
                    + " <a href= "+baseurl + " > "
                    + "<div>"
                    + " <span class='am_imglist_user_font' style='color:#333'>编号："+item.fields.code+"</span>"
                    + "</div>"
                    + "<div class='am_img_bg'>"
                    + "<img class='am_img animated' src='{% static 'img/loading.gif' %}' "
                    + " data-original='"+imgUrl+" ' "
                    + " alt='满街香蛋糕欢迎您'/> "
                    + "</div>"
                    + "<div class='am_listimg_info'>"
                    + "<span style='margin-right:0px;color:#ff0000;font-size:15px'>￥"+item.fields.price+"</span> "
                    + "</div>"
                    + "<div>"
                    + "<span class='am_imglist_user_font' style='color:#333'>尺寸："+item.fields.size+"寸</span>"
                    + "</div>"
                    + "<span class='am_imglist_user_font' style='color:#333'>"+item.fields.name+"</span>"
                    + " </a> "
                    + "</div>"
                    + "</li>"
                )
            })
            //避免首次进入一直loading
            $('.am_img_bg').removeClass('am_img_bg');
            $(this).find('.am_img').addClass('bounceIn');

            //@首页 图片滑动效果
            $(".am_list_block").on('mouseover', function(){
                $('.am_img_bg').removeClass('am_img_bg');
                $(this).find('.am_img').addClass('bounceIn');
            });
            //@懒加载
            $("img.am_img").lazyload();
              $("a.am_img_bg").lazyload({
              effect : 'fadeIn'
            });

        }
    })
    })




</script>


<script src="{% static 'js/petshow.js' %}"></script>


{% endblock %}


