{% extends "cake/base.html" %}
{% load staticfiles %}

{% block content %}

<style>
    body{
        font-family:""
    }
</style>


<div class="am_tuya">
            <div class="ztlb_nr_blockc_r_title">{{detail.name}}</div>

    <div class="am_tuya_content">
        <div class="am_tuya_content_l">
            <div class="am_tuya_more">
                <div class="am_tuya_oneword">编号：{{detail.code}}</div>
                <div class="am_tuya_oneword">价格：{{detail.price}}</div>
                <div class="am_tuya_oneword">尺寸：{{detail.size}}</div>
                {% if detail.label %}
                <div class="am_tuya_oneword">{{detail.label}}</div>
                {% endif %}
                <div class="am_tuya_comment_text">{{detail.desc|linebreaks}}</div>
            </div>
            <div class="am_albums">
                <img src="/static/img/{{detail.img1}}" width="100%" height="100%" alt=""/>

                {% if detail.img2 != "photos/blank.jpg" %}
                <img src="/static/img/{{detail.img2}}" style="margin-top:20px" width="100%" height="100%" alt=""/>
                {% endif %}
                {% if detail.img3 != "photos/blank.jpg" %}
                <img src="/static/img/{{detail.img3}}" style="margin-top:20px" width="100%" height="100%" alt=""/>
                {% endif %}

            </div>


        </div>
    </div>
</div>

{% endblock %}