{% load staticfiles %}
<footer class="am_footer">
    <div class="am_footer_con">



        <div class="am_footer_don">
            <span>满街香蛋糕</span>
            <dl>
                <dt><img src="{% static 'pic/cake1.png' %}" alt=""></dt>
                <dd>姜堰********
                    </dd>

            </dl>
        </div>

        <div class="am_footer_erweima">
            <div class="am_footer_weixin"><img src="{% static 'pic/head0.png' %}" alt="">

                <div class="am_footer_d_gzwx am-icon-weixin"> 关注微信</div>
            </div>


        </div>

    </div>
    <div class="am_info_line">Copyright(c)2015 <span>PetShow</span> All Rights Reserved</div>
</footer>
